.section {
  background-color: white;
  margin: 20px 10px;
  border: none;
  text-align: center;
}

.section__header {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 15px;
  text-align: left;
  border-bottom: 2px solid;
  border-color: #EEEEEE;
}