.form {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.newTask {
    padding: 10px;
    overflow-x: scroll;
    max-width: 100%;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 2px;
    flex-grow: 1;
}

.insertTaskButton {
    background-color: teal;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .form {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header__container {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px
    }
}