.section__container {
    padding: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding-left: 0px;
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 2px solid;
    border-color: #EEEEEE;
}

.task__hidden {
    display: none;
}

.content {
    text-align: left;
    word-break: break-word;
    margin: 10px 10px;
    flex-grow: 1;
}

.content__done {
    text-decoration: line-through;
}

.listButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    color: white;
    transition: 0.5s;
}

.listButton--remove {
    background-color: red;
}

.listButton:hover {
    background-color: hsl(120, 100%, 30%);
}

.listButton--remove:hover {
    background-color: hsl(0, 100%, 70%);
}

.listButton:active {
    border: solid;
    border-color: black;
    border-width: 1px;
}