html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #EEEEEE;
  padding: 5px;
}

@media (max-width: 767px) {
  .form {
      flex-direction: column;
      flex-wrap: wrap;
  }

  .header__container {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px
  }
}