html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}


.body {
  font-family: "Montserrat", sans-serif;
  background-color: #EEEEEE;
  padding: 5px;
}

.main {
  max-width: 900px;
  min-width: 200px;
  padding: 20px 10px;
  margin: 10px auto;
}

.main__header {
  max-width: 90%;
  margin: 20px 10px;
}
